{% extends 'social/operator_base.html' %}
{% load static %}

{% block title %}Chat{% endblock title %}


{% block description %}{% endblock description %}

    {% block script %} 
    <link rel="stylesheet" href="{% static 'social\chat.css' %}"/>
    {% endblock script %}


{% block content %}
    {% block chat_frame %}
<div id="frame">
    {% endblock chat_frame %}
    <a class="btn float-left" data-toggle="collapse" href="#sidepanel" role="button" aria-expanded="false"
        aria-controls="sidepanel" id="sidepanelCollapser">
        <i class="fas fa-address-book" style="font-size: 60px"></i>
    </a>
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <a>
                    <img src="{% static '\safespace\LOGO2.jpg' %}"
                        class="online {% if user.id <= 1000 %}oldUser{% endif %}" alt="" />
                </a>
                <p>{{ user.username }}</p>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search Users" />
        </div>
        <div id="contacts">
            <ul>
                <audio id="notificationSound">
                    <source src="{% static 'social/notificationsound.wav' %}" type="audio/wav">
                    <source src="{% static 'social/notificationsound.wav' %}" type="audio/mp3">
                    <source src="{% static 'social/notificationsound.wav' %}" type="audio/ogg">
                    <source src="{% static 'social/notificationsound.wav' %}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>

                {% for admin in admins %}
                <li class="contact">
                    <div class="wrap chatFriendButton" data-pk="{{admin.id}}">
                        <div class="meta">
                            <p class="name">{{ admin.username }}</p>
                            <p class="preview"></p>
                        </div>
                    </div>
                </li>
                <br>
                {% endfor %}
                <!-- Load new messages -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        window.addEventListener('load', function () {
                            setInterval(function loadMessages(e) {
                                let pk = $('#currChat').attr('data-pk')
                                let action = $('#currChat').attr(
                                    'data-action') // Gives friend unless the opened chat is a group
                                let currMessagesCount = $('#messageContent').attr(
                                    'data-currMessagesCount')
                                $.ajax({
                                    url: "{% url 'social:chat_friend' %}",
                                    data: {
                                        'pk': pk,
                                        'action': action,
                                    },
                                    dataType: 'json',
                                    success: function (response) {
                                        let chat_messages = JSON.parse(response
                                            .chat_messages)
                                            console.log('About to do the comparison')
                                        if (chat_messages.length >
                                            currMessagesCount) {
                                            let chat
                                            console.log(
                                                'Chat messages is greater than')

                                            chat = response.friend
                                            chat_label = chat.username
                                            $('#friendProfile').html(
                                                `
                                                <p id="currChat" data-pk="${pk}" data-action="${action}">${chat_label}</p>`
                                            )
                                            let outputMessages = ''
                                            console.log(
                                                'About to enter the for loop')
                                            for (message of chat_messages) {
                                                let user = ''
                                                $.ajax({
                                                    type: "get",
                                                    url: "{% url 'get_user_by_id' %}",
                                                    data: {
                                                        'pk': message.fields
                                                            .message_sender
                                                    },
                                                    dataType: "json",
                                                    async: false,
                                                    success: function (
                                                        response) {
                                                        user = response
                                                            .user
                                                    }
                                                });
                                                let messageStyle = ''
                                                if (user.id != "{{user.id}}") {
                                                    outputMessages += `
                                            <p class="float-right" style="font-size:1.25em">${user.username}</p>
                                                <li class="replies">
                                    <p ${messageStyle}>${message.fields.message}</p>
                                </li>`
                                                } else {
                                                    outputMessages += `
                                            <li class="sent">
                        <p id="messageContent" data-currMessagesCount="${chat_messages.length}" ${messageStyle}>${message.fields.message}</p>
                    </li>
                                            `
                                                }
                                            }
                                            $('#chatMessages').html(outputMessages)
                                        }
                                    }
                                })
                            }, 3000);
                        })
                    })
                </script>
                <!-- SEND MESSAGE -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        window.addEventListener('load', function () {
                            $('#sendMessageForm').submit(function (event) {
                                event.preventDefault()
                                let pk = $('#currChat').attr('data-pk')
                                let action = $('#currChat').attr('data-action')
                                let userInput = document.getElementById('inputMessage').value;
                                let isImportant = $('#id_is_important').is(':checked')
                                let is_important = 'False'
                                let style = ''
                                if (userInput) {
                                    $('.emojionearea-editor').html('')
                                    $("#id_is_important").prop("checked",
                                        false);
                                    $(`<li class="sent"><p ${style}>${userInput}</p></li>`)
                                        .appendTo($(
                                            '.messages ul'));
                                    $('.message-input input').val(null);
                                    $('.contact.active .preview').html(
                                        '<span>You: </span>' + userInput
                                    );
                                    $(".messages").animate({
                                        scrollTop: $(document)
                                            .height()
                                    }, "fast");
                                    document.getElementById(
                                            'notificationSound')
                                        .play()
                                    var element = document.getElementById(
                                        'chatMessages');
                                    element.scrollTop = element
                                        .scrollHeight -
                                        element.clientHeight;
                                    $('.emojionearea-editor').html('')
                                    $.ajax({
                                        url: "{% url 'social:send_message' %}",
                                        data: {
                                            "pk": pk,
                                            "action": action,
                                            "message": userInput,
                                            "is_important": is_important
                                        },
                                        dataType: 'json',
                                        success: function (response) {

                                            if (response.message) {
                                                $('#message_area').html('')
                                                if (response.message.tags ===
                                                    'error') {
                                                    $('#message_area').append(`
                            <div class="alert alert-danger fixed-top">${response.message.text}</div>
                            `)
                                                } else {
                                                    $('#message_area').append(`
        <div class="alert alert-${response.message.tags} fixed-top">${response.message.text}</div>
                                `)
                                                }
                                                setInterval(() => {
                                                    $('#message_area').html(
                                                        '')
                                                }, 3000);
                                            }
                                        }
                                    })
                                }
                            })
                        })
                    })
                </script>
            </ul>
        </div>
        <div id="bottom-bar">
        </div>
    </div>
    <div class="content">
        <div class="contact-profile" id="friendProfile">
            <p id="currChat" data-pk="" data-action="">We wanna know how you feel!!</p>
        </div>
        <div class="messages" id="chatMessagesContainer">
            <ul id="chatMessages" data-url="{% url 'social:chat_friend' %}">
                <p class="float-right" style="font-size:1.25em">chatapp</p>
                <li class="replies">
                    <p>Welcome to the best chat app to every exist, all truth here :)</p>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <form action="" method="get" id="sendMessageForm" class="form-inline" style="width: 100%">
                    <span class="float-left" id="sendMessageContainer">
                        <input type="text" placeholder="Write your message..." id="inputMessage" required />
                    </span>
                    <div class="input-group-append" id="messageExtraInputs">
                        <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> -->
                        <button id="sendMessageButton" class="submit" style="height:28px"><i class="fa fa-paper-plane"
                                aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'social/chat.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    window.addEventListener('load', function () {
        $('#addGroupButton').click(function (e) {
            e.preventDefault();
            $('#newGroupForm').submit()
        });
        $('#findUserForm').submit(function (e) {
            e.preventDefault();
        })
        $('nav').removeClass('sticky-top')
        $('#addMemberSettings').hide()
        $('.groupSettings').click(function (event) {
            event.preventDefault();
            $('.groupSettings').removeClass('active');
            $(this).addClass('active');
            if ($(this).html() == 'Add') {
                $('#groupMembersSettings').hide()
                $('#addMemberSettings').show()
            } else if ($(this).html() == 'Members') {
                $('#addMemberSettings').hide()
                $('#groupMembersSettings').show();
                $('#groupMembers').html('')
                $.ajax({
                    url: $('#groupMembersSettings').attr('data-url'), // social:group_members
                    data: {
                        'group_id': $('#currChat').attr('data-pk'),
                        'action': 'showMembers'
                    },
                    dataType: 'json',
                    success: function (response) {
                        group = response.group
                        members = JSON.parse(response.members)
                        admins = JSON.parse(group.admins)
                        for (let i = 0; members.length > i; i++) {
                            let badge = ''
                            if (members[i].fields.username == group.author_username) {
                                badge = '<i class="fas fa-crown"></i>'
                            } else {
                                for (admin of admins) {
                                    if (admin.fields.username === members[i].fields.username) {
                                        badge = '<i class="fas fa-user-cog"></i>'
                                    }
                                }
                            }
                            // Get group admins
                            $('#groupMembers').prepend(`
                        <li class="list-group-item">
                                <div class="row w-100">
                                    <div class="col-12 col-sm-6 col-md-3 px-0">
                                        <a href="/people/${members[i].pk }">
                                            <img src="/media/profile_images/DefaultUserImage.jpg" alt="${ members[i].fields.username }"
                                            class="img-fluid rounded-circle d-block mx-auto" height="73" width="73">
                                    </a>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                                        <a href="/people/${members[i].pk}/">
                                    <label class="name lead">${ members[i].fields.username } <span class="badge badge-secondary">${badge}</span>
                                    </label> 
                                    </a>
                                    <br>
                                    <span class="text-muted" data-toggle="tooltip" title="Bio"
                                    data-original-title="${ members[i].fields.bio }" style="color: black;"></span>
                                    <span class="small text-truncate" style="color: black;">${ members[i].fields.bio }</span>
                                    <form id="id_removeMemberForm${members[i].pk}" method="GET">
                                        <button type="submit" name="invite," data-pk="${members[i].pk}" class="id_removeMember btn float-right"
                                        id="id_removeMember${members[i].pk}"><i class="fas fa-minus-circle"
                                        style="font-size: 24px;"></i></button>
                                        </form>
                                        </div>
                                        </div>
                                        </li>
                        `)
                        }
                        var g = document.createElement('script');
                        var s = document.getElementsByTagName('script')[0];

                        function removeMember() {
                            $(`.id_removeMember`).click(function (e) {
                                e.preventDefault();
                                let member_id = $(this).attr('data-pk')
                                let confirmation = confirm(`Are you sure you want to remove ${members[member_id-1].fields.username}`)
                                if (confirmation) {
                                    let thisElement = $(this)
                                    $.ajax({
                                        url: $('#groupMembersSettings').attr('data-url'), // social:group_members   
                                        data: {
                                            'group_id': $('#currChat').attr('data-pk'),
                                            'member_id': member_id,
                                            'action': 'removeMember'
                                        },
                                        method: 'get',
                                        dataType: 'json',
                                        success: function (response) {
                                            if (response.message.includes('You cannot remove')) {
                                                alert(response.message)
                                                thisElement.parent().fadeOut()
                                            } else {
                                                thisElement.parent().parent().parent().parent().toggle()
                                            }
                                        }
                                    })
                                }
                            })
                        }
                        g.text = removeMember()
                        s.parentNode.insertBefore(g, s);
                    }
                })
                // make group admin
            }
        })
        $('#deleteGroup').click(function (evet) {
            event.preventDefault();
            let currChat = $('#currChat').attr('data-pk')
            let confirmation = confirm('Are you sure you want to delete the group?')
            if (confirmation) {
                $.ajax({
                    url: $('#deleteGroup').attr('data-url'),
                    data: {
                        'pk': $('#currChat').attr('data-pk'),
                    },
                    dataType: 'json',
                    success: function (response) {
                        location.reload();
                    }
                })
            }
        })
        // Leave Group
        $('#leaveGroup').click(function (e) {
            e.preventDefault();
            let currChat = $('#currChat').attr('data-pk')
            let confirmation = confirm('You are about to leave this group')
            if (confirmation) {
                $.ajax({
                    url: $('#leaveGroup').attr('data-url'),
                    data: {
                        'pk': $('#currChat').attr('data-pk'),
                    },
                    dataType: 'json',
                    success: function (response) {
                        location.reload();
                    }
                })
            }
        })
        $('#sidepanelCollapser').hide();

        $('#sidepanelCollapser').click(function (e) {
            e.preventDefault();
            $('#sidepanel').slideToggle();
        });

        function windowResizing() {
            if ($(window).width() <= 704) {
                $('#sidepanelCollapser').show();
                $('.contact').click(function (e) {
                    e.preventDefault();
                    $('#sidepanel').toggle();
                });
            }
            if ($(window).width() >= 704) {
                $('#sidepanel').show();
                $('#sidepanelCollapser').hide();
                $('.content').show();
            }
        }
        windowResizing()
        $(window).resize(function (event) {
            windowResizing()
        })
        // $('#inputMessage').emojioneArea({
        //     events: {
        //         keyup: function (editor, event) {
        //             var code = (event.keyCode ? event.keyCode : event.which);
        //             if (code == 13) { //Enter keycode
        //                 $('#sendMessageForm').submit()
        //             }
        //         }
        //     }
        // });

        // Load chat
        function loadMessages(action, pk) {
            console.log('Loading messages...')
            $.ajax({
                url: $('#chatMessages').attr('data-url'),
                data: {
                    'pk': pk,
                    'action': action,
                },
                dataType: 'json',
                success: function (response) {
                    console.log('Success')
                    let friend_image
                    let isOld
                    if (response.friend.id <= 1000) {
                        isOld = 'oldUser'
                    }
                    if (response.friend.who_see_avatar == 'everyone' ||
                        response.friend.who_see_avatar == 'friends') {
                        friend_image = response.friend.avatar
                    } else {
                        friend_image =
                            '/media/profile_images/DefaultUserImage.jpg'
                    }
                    $('#friendProfile').html(
                        // ! Absolute URL
                        `<a href="/people/${response.friend.id}/">
                                            </a>
                                            <p id="currChat" data-pk="${response.friend.id}" data-action="friend">${response.friend.username}</p>`
                    )
                    $('#chatMessages').html('')
                    let chat_messages = JSON.parse(response
                        .chat_messages)
                    for (message of chat_messages) {
                        let messageStyle = "null"
                        if (message.fields.is_important) {
                            messageStyle =
                                'style="background: #d10c0c; color: white"'
                        }
                        if (message.fields.message_sender == response
                            .friend.id) {
                            $('#chatMessages').append(`<li class="replies">
                                    <p ${messageStyle}>${message.fields.message}</p>
                                </li>`)
                        } else {
                            $('#chatMessages').append(`
                                            <li class="sent">
                        <p id="messageContent" data-currMessagesCount="${chat_messages.length}" ${messageStyle}>${message.fields.message}</p>
                    </li>
                                            `)
                        }
                    }
                    paginateMessages();
                }
            })
        }
        $('.chatFriendButton').click(function (e) {
            let thisElement = $(this)
            let pk = thisElement.attr('data-pk')
            if ($('#currChat').attr('data-pk') == pk) {
                console.log('returning false')
                return false
            } else {
                loadMessages('friend', pk)
            }
        })

        // load more messages
        let page = 1;

        function paginateMessages() {
            console.log('I ran')
            $.ajax({
                url: $('#chatMessages').attr('data-url'),
                data: {
                    'pk': $('#currChat').attr('data-pk'),
                    'action': 'friend',
                    'page': page
                },
                method: 'get',
                dataType: 'json',
                async: false,
                success: function (response) {
                    page++
                    let chat_messages = JSON.parse(response.chat_messages)
                    chat_messages.reverse()
                    if (chat_messages.length > 0) {
                        for (message of chat_messages) {
                            let messageStyle = ""
                            if (message.fields.is_important) {
                                messageStyle =
                                    'style="background: #d10c0c; color: white"'
                            }
                            if (message.fields.message_sender == response
                                .friend.id) {
                                $('#chatMessages').prepend(`<li class="replies">
                <p ${messageStyle}>${message.fields.message}</p>
            </li>`)
                            } else {
                                $('#chatMessages').prepend(`
                        <li class="sent">
    <p id="messageContent" data-currMessagesCount="${chat_messages.length}" ${messageStyle}>${message.fields.message}</p>
</li>
                        `)
                            }
                        }
                    }
                }
            })
        }

        $('#chatMessagesContainer').scroll(function (e) {
            let messageContainer = document.getElementById('chatMessagesContainer')
            if (messageContainer.scrollTop == 0){
                paginateMessages();
            }
        })
console.log('no errors')
    });
});
</script>
 {% endblock content %}